.games {
  padding-right: 30px;
}

.games > h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  padding: 0;
}

.games > .custom {
  display: flex;

}

.games > .custom > :nth-child(1) {
  margin-left: auto;

}
.games > .custom > :nth-child(1) > button {
  margin: 0 5px;
}
