.games {
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  flex: 1;

  box-sizing: border-box;
}

.games > h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  padding: 0;
  line-height: 1;
}

.games > .custom > :nth-child(2) > .curdisplay {
  opacity: 0.6;
}

.games > .custom {
  display: flex;
  margin-bottom: 20px;
}

.games > .custom > :nth-child(2) {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.games > .custom > :nth-child(2) > div {
  margin: 0 5px;
  padding: 5px;
  background-color: #5e5e5e;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  opacity: 0.4;
}

.games > .custom > :nth-child(2) > span {
  opacity: 0.4;
}

.games > .custom > :nth-child(2) > div:hover {
  cursor: pointer;
  opacity: 0.6;
}

.games > .custom > :nth-child(2) > div > svg {
  fill: #fff;
  height: 30px;
  width: 30px;
}

.games > main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  align-items: center;
  justify-items: center;

  gap: 30px;
}

.games > .single {
  grid-template-columns: 1fr;
}

.navbutton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: #242424;

  align-items: center;
  justify-content: center;

  padding: 10px;
  border-radius: 50%;

}

.navbutton svg {
  fill: white;
}

.navbutton.active {
  bottom: 0;
  right: 0;
  
  height: 100%;
  width: 100vw;

  border-radius: 0;
  z-index: 11;

  box-sizing: border-box;

  padding-top: 20px;
  padding-left: 40PX;
  display: flex;
  justify-content: flex-start;

  background-color: black;

}

.navbutton > div {
  display: none;
  
}

.navbutton.active > div {
  display: block;
}

.navbutton.active ::-webkit-scrollbar {
  display: none;
}

.navbutton.active > div > button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
  background-color: transparent;
  border: 0;
}

.navbutton.active > div > button svg {
  fill: white;
}

.navbutton.active > svg {
  display: none;
}

@media (prefers-color-scheme: light) {

  .games > .custom > :nth-child(2) > div {
    background-color: #a3a3a3;
  }

  .games > .custom > :nth-child(2) > div > svg {
    fill: #242424;
  }

  .navbutton {
    background-color: #ececec;
  }
  
  .navbutton svg {
    fill: black;
  }
  
  .navbutton.active {
    background-color: white;
  }
  
  .navbutton.active > div > button svg {
    fill: black;
  }

  .games > .custom > :nth-child(2) {
    color: #000;
  }
  
  .games > .custom > :nth-child(2) > div {
    background-color: #c4c4c4;
  }
  
  .games > .custom > :nth-child(2) > div > svg {
    fill: #000;
  }

  .games > .custom > :nth-child(2) > span {
    opacity: 0.7;
  }

  
}

@media (max-width: 800px) {
  .games > h1 {
    margin: 20px 0;
  }

  .navbutton {
    display: flex;
  }
}

@media (max-width: 600px) {
  .games > h1 {
    font-size: 40px;
    margin: 10px 0;
    margin-bottom: 0;
  }

  .games > .custom > :nth-child(2) {
    display: none;
  }
  
}

