.game {
  display: flex;
  flex-direction: column;
  padding: 0 40px;

  box-sizing: border-box;
  height: 100%;
  padding-bottom: 40px;
}

.heading {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  box-sizing: border-box;

  min-height: 96px;
}

.heading > :nth-child(1) {
  display: flex;
  align-items: center;

  font-size: 1.3em;
  font-family: 'Poppins';
  font-weight: 600;
  min-width: 200px;

  text-decoration: none;
  color: inherit;

  transition: color 400ms ease;
}

.heading > :nth-child(1):hover {
  cursor: pointer;
  color: #ae8213;
}

.heading > :nth-child(1):hover > :nth-child(1) {
  fill: #ae8213;
}

.heading > :nth-child(1) > :nth-child(1) {
  width: 1.5em;
  height: 1.5em;
  margin-right: 20px;

  transition: fill 400ms ease;
}

.heading > :nth-child(2) {
  font-family: 'Changa One', sans-serif;
  font-size: 4em;
  text-align: right;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;

  column-gap: 20px;

  max-height: 100%;
  height: 100%;
}

.description, .moredetails {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, transparent, #181818);
  position: relative;
  box-sizing: border-box;
  user-select: none;
  box-sizing: border-box;
}

.description > .overlay {
  position: absolute;
  bottom: -18px;
  left: 0;
  height: 20%;
  width: 100%;
  background: linear-gradient(to top, black, black, transparent);
}

.description div {
  max-height: 30vh;
  overflow-y: scroll;
}

.description > ::-webkit-scrollbar {
  display: none;
}

.main .description  h1 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: 'Poppins';
  font-weight: 800;
}

.moredetails {
  color: #949494;
  font-size: 1em;
}

.moredetails a {
  text-decoration: none;
  color: #949494;
}

.main > :nth-child(2) .moredetails > span {
  display: block;
}

.main > :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > :nth-child(2) {
  display: flex;
  flex-direction: column;
}

.main > :nth-child(2) > :nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to right, transparent, #181818);
  position: relative;
  box-sizing: border-box;

  margin-top: auto;
  margin-bottom: 20px;
}

.buttontoadd {
  cursor: pointer;
}

.alreadyadded {
  color: goldenrod;
  display: flex;
  align-items: center;
  user-select: none;
}


.alreadyadded svg {
  fill: goldenrod;
  margin-left: 5px;
}


@media (prefers-color-scheme: light) {
  .heading svg {
    fill: black;
  }

  .description, .moredetails {
    background: linear-gradient(to right, transparent, #e2e2e2);
  }

  .description > .overlay {
    background: linear-gradient(to top, white, white, transparent);
  }

  .moredetails, .moredetails a {
    color: #6b6b6b;
  }

  .main > :nth-child(2) > :nth-child(3) {
    background: linear-gradient(to right, transparent, #e2e2e2);
  }

}

@media (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading > :nth-child(2) {
    font-size: 2.3em;
  }

  .heading > :nth-child(1) {
    font-size: 1em;
  }

  .description div {
    max-height: 40vh;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .main > :nth-child(2) {
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
  }

  .game {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .heading > :nth-child(1) > :nth-child(1) {
    margin-right: 10px;
  }

  .heading {
    min-height: 80px;
  }

}

@media (max-width: 500px) {

  .heading > :nth-child(2) {
    font-size: 1.5em;
  }

  .heading > :nth-child(1) {
    font-size: 0.7em;
  }

  .heading {
    min-height: 60px;
  }
  
  .description, .moredetails {
    padding: 5px;
    font-size: 14px;
  }


  .game {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .heading > :nth-child(1) > :nth-child(1) {
    margin-right: 10px;
  }

}