.games {
  padding-right: 30px;
  padding-bottom: 20px;
}

.games > h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  padding: 0;
}

.games > .custom {
  display: flex;
  margin-bottom: 20px;
}

.games > .custom > :nth-child(1) {
  margin-left: auto;

}
.games > .custom > :nth-child(1) > button {
  margin: 0 5px;
}

.games > main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  align-items: center;
  justify-items: center;

  gap: 30px;
}

.games .game {
  display: grid;
  background-color: #202020;
  border-radius: 20px;
  max-width: 700px;
  overflow: hidden;

  user-select: none;
}

.game > :nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.game > :nth-child(2) > :nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.game > :nth-child(2) > :nth-child(1) > :nth-child(1):hover {
  color: #ae8213;
  cursor: pointer;
}


.game > :nth-child(2) > a {
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.4em;

}

.game  img {
  width: 100%;
  aspect-ratio: 1.7 / 1;
  object-fit: cover;
  /* background-position: center center; */
}

@media (prefers-color-scheme: light) {
  .games .game {
    background-color: #e2e2e2;
  }


}

