
.alreadyadded {
  color: goldenrod;
  display: flex;
  align-items: center;
  user-select: none;
}

.alreadyadded svg {
  fill: goldenrod;
  margin-left: 5px;
}

.game {
  display: grid;
  background-color: #202020;
  border-radius: 20px;
  max-width: 700px;
  overflow: hidden;

  user-select: none;
  transition: transform ease 300ms;
}

.game:hover {
  transform: scale(1.05);
}

.game > :nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.game > :nth-child(2) > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  color: #8f8f8f;
}

.single .game > :nth-child(2) > :nth-child(1) {
  margin: 10px 0;
}


.game > :nth-child(2) > :nth-child(1) > :nth-child(1):hover {
  color: #ae8213;
  cursor: pointer;
}

.game > :nth-child(2) > a {
  color: inherit;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1.4em;
}

.game  img {
  width: 100%;
  aspect-ratio: 1.7 / 1;
  object-fit: cover;
  /* background-position: center center; */
}

.game > :nth-child(2) > :nth-child(2) {
  display: flex;
  margin: 4px 0px;
}

.game > :nth-child(2) > :nth-child(2) > :nth-child(n) {
  fill: white;
  margin: 5px;
  height: 15px;
  width: 15px;
}

.single.game > :nth-child(2) > a {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.8em;
}

@media (prefers-color-scheme: light) {
  
  .game {
    background-color: #e2e2e2;
  }
  
  .game > :nth-child(2) > :nth-child(2) > :nth-child(n) {
    fill: #242424;
  }
  
  .game > :nth-child(2) > :nth-child(1) {
    color:#5e5e5e;
  }
  
  .games > .custom > :nth-child(2) {
    color: black;
  }


}
