.games {
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  flex: 1;
}

.games > h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  padding: 0;
  line-height: 1;
}

.games > .custom > :nth-child(2) > .curdisplay {
  opacity: 0.6;
}

.games > .custom {
  display: flex;
  margin-bottom: 20px;
}

.games > .custom > :nth-child(2) {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
.games > .custom > :nth-child(2) > div {
  margin: 0 5px;
  padding: 5px;
  background-color: #5e5e5e;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  opacity: 0.4;

}

.games > .custom > :nth-child(2) > span {
  opacity: 0.4;
}

.games > .custom > :nth-child(2) > div:hover {
  cursor: pointer;
  opacity: 0.6;
}

.games > .custom > :nth-child(2) > div > svg {
  fill: #fff;
  height: 30px;
  width: 30px;
}

.games > main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  align-items: center;
  justify-items: center;

  gap: 30px;
}

.games > .single {
  grid-template-columns: 1fr;
}

@media (prefers-color-scheme: light) {

  .games > .custom > :nth-child(2) > div {
    background-color: #a3a3a3;
  }

  .games > .custom > :nth-child(2) > div > svg {
    fill: #242424;
  }
  
}

@media (max-width: 600px) {
  .games > h1 {
    font-size: 50px;
  }

  .games > .custom > :nth-child(2) {
    display: none;
  }
  
}

