.imageslider {
  position: relative;
  border-radius: 30px;
  width: 66vw;

  overflow: hidden;
}

.left {
  left: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  
}

.right {
  right: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

.left, .right {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.left > svg, .right > svg {
  height: 40px;
  width: auto;
}

.main {
  display: flex;
  width: 100%;

  /* overflow: hidden; */
  transition: transform ease-in-out 500ms;
}

.main > img {
  width: 100%;
}

/* .main > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */