.pagetransition {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pagetransition > :nth-child(1) {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.fadeIn > :nth-child(1) {
  animation: fi 800ms ease  1  ;
}

@keyframes fi {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
  
}

/* .fadeOut > :nth-child(1) {
  animation: fo 800ms ease  1  ;
}

@keyframes fo {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(-5%);
  }
  
} */