.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 88vh;

  column-gap: 40px;
}

.sidebar {
  margin-left: 30px;
  margin-top: 30px;
  
  overflow-y: hidden;
}

.sidebar ::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background: #333333; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-track {
    background: white; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3; 
  }
  
}